@import url('https://fonts.googleapis.com/css?family=Sawarabi+Gothic&display=swap');
body {
    margin: 0;
    background: url(bg.jpg) no-repeat 50% 30%;
    -moz-background-size: 130%;
    -webkit-background-size: 130%;
    -o-background-size: 130%;
    background-size: 130%;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
}
a {
    color: rgb(250,250,250);
    text-decoration: none;
    outline: none;
}
header {
    margin: 0;
    font-family: 'Sawarabi Gothic', sans-serif;
    padding-top: 8px;
    background: rgba(33,33,33,0.3);
    border-bottom: 2px solid rgba(22,22,22,0.5);
    color: white;
}
header:hover {
    background: rgba(33,33,33,0.5);
    border-bottom: 2px solid rgba(22,22,22,0.8);
}
#h-logo img {
    border-radius: 50%;
    margin: 0 1% 0 1%;
    width: 40px;
}
#h-logo div {
    position: absolute;
    margin: 0 1% 0 1%;
    width: 40px;
    height: 40px;
}
.title {
    font-size: 22px;
    font-family: 'Sawarabi Gothic', sans-serif;
    font-weight: 400;
    display: initial;
    position: absolute;
    margin: 10px 0 0 0;
}
.title:before {
    content: "アリス";
}
.title:hover:before {
    content: "Arisu";
}
.links-container {
    float: right;
    box-sizing: border-box;
    text-align: left;
    margin-top: -45px;
}
.links {
    list-style: none;
    float: right;
    margin: 16px 15px;
    box-sizing: border-box;
}
.links li:first-child {
    border-left: none;
}
.links li {
    border-left: 1px solid rgb(183,28,28);
    float: left;
    padding: 0 10px;
    box-sizing: border-box;
}
