@import url('https://fonts.googleapis.com/css?family=Bad+Script&display=swap');

body {
    -moz-user-select: none;
    -webkit-user-select: none;
  background-color: #263238;
  background: url(github_bg.jpg) no-repeat;
  -moz-background-size: 100%;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  background-size: cover;
  overflow: hidden;
  margin: 0;
}

a {
    text-decoration: none;
    color: #1a237e;
    outline: none;
}
a:visited {
    color: #880e4f;
}
a:hover {
    text-decoration: underline;
}

#monika {
    position: absolute;
    left: 5px;
    bottom: -72px;
    width: 119px;
    height: 168px;
    background: none; /* A little secret~ */
    z-index: 1;
}
#monika:hover {
    background: url(https://ddlc.moe/images/sticker_m.png);
}

#block {
  position: absolute;
  width: 280px;
  height: 250px;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -100px;
  text-align: center;
  font-size: 0.86em;
  font-family: 'Bad Script', cursive;
  line-height: 1.2em;
  letter-spacing: -0.004em;
  background-color: #eceff1;
  border: solid 2px #212121;
  border-radius: 3%;
  padding: 10px;
  overflow: auto;
  z-index: 1;
}

#darkest {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(22,22,22,0.5);
    z-index: 0;
}

@media only screen and (max-width: 300px) {
    #monika {
        display: none;
    }
}
