@import url('../fonts/Nunito/nunito.css');
@import url('../fonts/Fontello/icons_arisuchr.css');

body {
	margin: 0;
	width: 100%;
	height: 100%;
	position: fixed;
	font-family: 'Nunito', sans-serif;
	font-size: 0.8em;
}
body h1, body h2 {
    font-weight: normal;
    margin: 5px 0;
}
.left, .right {
	height: 100%;
	position: fixed;
	top: 0;
	transition: ease-out 0.3s;
	text-align: center;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	padding: 5px;
	padding-right: 0;
}
.left:hover, .right:hover {
	z-index: 1;
}
.left {
	background-color: var(--dark);
	color: var(--light);
	width: 40%;
	left: 0;
	cursor: pointer;
}
.right {
	background-color: var(--light);
	color: var(--dark);
	width: 60%;
	right: 0;
}
h2 > #trap {
    display: inline-block;
}
.link-text {
    transition: linear 0.6s;
}
.link-text:after {
    font-family: 'icons_arisuchr';
    font-size: 0.4em;
    content: '\f08e';
    bottom: 1em;
    display: inline-block;
    position: relative;
    margin-left: 2px;
}
#left-ps {
    font-style: italic;
    font-size: 0.9em;
    width: 300px;
    position: relative;
    top: 5px;
}
#left-ps:after {
    display: none;
}
.right > h2 {
    width: 446px;
}
#right-icon {
    background: url('../images/icon.jpg') no-repeat;
    background-size: cover;
    border-radius: 50%;
    border: 3px solid var(--accent);
    width: 140px;
    height: 140px;
    position: relative;
    bottom: 10px;
}
#social {
    margin-bottom: 90px;
}
#social * {
    font-size: 1.2em;
    color: var(--darker);
    text-decoration: none;
}

